
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.background-animation {
    position: fixed;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #ff6f61, #ffb88c, #d4a5a5, #726a95, #709fb0, #a5d8dd, #f4e8c1, #8ea6b4);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    filter: blur(100px);
    top: -50%;
    left: -50%;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.slider-container {
    width: 80%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 1s;
    position: relative;
}
.slide img {
    flex-grow: 1;
    max-width: 100%;
    height: auto; 
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active {
    opacity: 1;
}

.slide img {
    alt: "Image Slide";
}
